/* Resetando as margens e o preenchimento padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f1e3; /* Bege suave */
    color: #3e2c1c; /* Marrom escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 1.6;
}

/* Container principal */
.container {
    text-align: center;
    background-color: #d1b29b; /* Marrom claro */
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
}

/* Estilo para o título principal */
header h1 {
    font-size: 2.5rem;
    color: #4f3626; /* Marrom escuro */
    margin-bottom: 20px;
}

/* Estilo para os subtítulos */
h2 {
    font-size: 2rem;
    color: #4f3626;
    margin-bottom: 15px;
}

/* Estilo para os parágrafos */
p {
    font-size: 1.1rem;
    color: #3e2c1c;
    margin-bottom: 20px;
}

/* Estilo para o footer */
footer h3, footer p {
    font-size: 1.2rem;
    color: #3e2c1c;
}

footer h3 {
    margin-top: 10px;
}
